$font-size-sm: 0.75rem; // 12px
$font-size-md: 1rem; // 16px
$font-size-lg: 1.25rem; // 20px
$font-size-xl: 1.5rem; // 24px
$font-size-xxl: 2rem; // 32px

$border-radius-sm: 4px;
$border-radius-card: 0.75rem; // 12px
$border-radius-button: 200px;
$border-radius-badge: 200px;

$min-width-card: 264px; // 264px
$max-width-card: 360px; // 360px
$min-width-sidebar: 48px;
$size-checkbox: 1.25rem; // 20px

$padding-button-md: 0.5rem 1.5rem; // 8px 24px
$padding-badge-md: 0.25rem 0.75rem; // 4px 12px
$padding-nav: 0 2rem; // 0 32px
$padding-nav-item: 1.25rem 0.75rem; // 20px 12px
$padding-card: 1rem; // 16px
$padding-hero-btn: 0.75rem; // 12px 24px
$padding-sidebar: 0.75rem 1.5rem 2rem 1.5rem; // 12px 24px 32px 24px
$padding-sidebar-title: 0 1rem; // 0 16px

$gap-nav-item: 0.375rem; // 6px
$gap-nav: 5rem; // 80px
$gap-container-cards: 1rem; // 16px
$gap-hero-info: 1rem; // 16px
$gap-filter-option: 1rem; // 16px
$gap-checkbox: 0.5rem; // 8px
